# npm
dist
web
node_modules

# test coverage
coverage

# config
config.json

# ide
.idea
.vs

# vim
*.sw?

# direnv
.direnv/

# environment related
.envrc

# Debian packaging build artifacts
debian/.debhelper/
debian/files
debian/debhelper-build-stamp
debian/*.substvars
debian/jellyfin-web-cix/
/web/
